<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="abt2.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="bg bg4"></div>
    <nav class="main-nav">
      <div class="logo">
        <img src="/logo1.png" alt="Loading.." />
      </div>
      <div class="menu-link">
        <ul>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <a href="/destination">Destination</a>
          </li>
          <li>
            <i class="fab fa-blogger"></i>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <i class="fas fa-suitcase"></i>
            <a href="/myplans">My Plans</a>
          </li>
        </ul>
      </div>
      <div class="menu-link2">
        <ul>
          <li>
            <i class="fas fa-address-book"></i>
            <a href="/contactus">Contact Us</a>
          </li>
          <li>
            <i class="fas fa-fingerprint"></i>
            <a href="/aboutus">About Us</a>
          </li>
          <li>
            <i class="fas fa-user"></i>
            <a href="/">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <section class="about-section">
        <h2>About Us</h2>
        <div class="wrapper">
          <div class="h"><img class="photo1" src="img1.jpg" alt="" /></div>
          <div class="h"><img class="photo2" src="img2.jpg" alt="" /></div>
          <div class="h"><img class="photo3" src="img3.jpg" alt="" /></div>
          <div class="h"><img class="photo4" src="img4.jpg" alt="" /></div>
          <div class="h"><img class="photo5" src="img5.jpg" alt="" /></div>
        </div>
      </section>
    </main>
    <div class="content">
      <p>
        Welcome to <b class="bold">VoyageVista</b>, your ultimate travel
        companion! <br />At <b class="bold">VoyageVista</b>, we are passionate
        about making your travel experiences unforgettable. <br />Let us
        introduce ourselves and our vision:
      </p>
      <p>
        <b class="headings">Our Mission</b> : <b class="bold">VoyageVista</b> is
        on a mission to revolutionize the way you travel. We strive to provide
        personalized travel recommendations tailored to your unique preferences,
        budget, location, and duration. By harnessing the power of machine
        learning, sentiment analysis, and natural language processing, we curate
        dynamic suggestions that ensure an enhanced travel experience.
      </p>
      <p>
        <b class="headings">Our Approach</b> : At
        <b class="bold">VoyageVista</b>, we understand that no two travelers are
        alike. That's why we leverage advanced technologies to analyze user
        preferences and historical data, enabling us to generate personalized
        travel plans that cater to your individual needs. Whether you're seeking
        adventure, relaxation, or cultural exploration,
        <b class="bold">VoyageVista</b> has got you covered. What Sets Us Apart
        What sets <b class="bold">VoyageVista</b> apart is our commitment to
        excellence and innovation.
      </p>
      <p>
        Our platform seamlessly integrates sentiment analysis and natural
        language processing to engage users in interactive conversations,
        helping us understand your desires and preferences better. With
        <b class="bold">VoyageVista</b>, you can expect personalized
        recommendations that resonate with your unique travel style.
      </p>
      <p>
        We invite you to embark on a journey of discovery with
        <b class="bold">VoyageVista</b>. Explore new destinations, uncover
        hidden gems, and create memories that last a lifetime. Whether you're a
        seasoned traveler or embarking on your first adventure,
        <b class="bold">VoyageVista</b> is here to inspire and guide you every
        step of the way.
      </p>
    </div>

    <footer>
      <div class="footer-section">
        <div class="logo">
          <img src="/logo1.png" alt="Loading.." />
          <p>2024 © VoyageVista - Travel Recommendation</p>
        </div>
      </div>
      <div class="footer-section">
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="contactus.ejs">Contact</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Community</h3>
        <ul>
          <li><a href="#">Forums</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Partners</h3>
        <ul>
          <li><a href="#">Partner 1</a></li>
          <li><a href="#">Partner 2</a></li>
          <li><a href="#">Partner 3</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <p>
          "VoyageVista is a travel recommendation platform that leverages
          machine learning to analyze user preferences and historical data,
          providing personalized travel plans based on budget, location, and
          duration. Seamlessly integrating sentiment analysis and natural
          language processing, VoyageVista ensures an enhanced travel experience
          by curating dynamic suggestions and engaging users in interactive
          conversations."
        </p>
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
