<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <nav class="main-nav">
      <div class="logo">
        <img src="/logo1.png" alt="Loading.." />
      </div>

      <div class="menu-link">
        <ul>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <a href="/destination">Destination</a>
          </li>
          <li>
            <i class="fab fa-blogger"></i>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <i class="fas fa-suitcase"></i>
            <a href="/myplans">My Plans</a>
          </li>
        </ul>
      </div>
      <div class="menu-link2">
        <ul>
          <li>
            <i class="fas fa-address-book"></i>
            <a href="/contactus">Contact Us</a>
          </li>
          <li>
            <i class="fas fa-fingerprint"></i>
            <a href="/aboutus">About Us</a>
          </li>
          <li>
            <i class="fas fa-user"></i>
            <a href="/">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <section id="blog">
      <!-- heading -->
      <h3>Our Blog</h3>
      <!-- container -->
      <div class="blog-container">
        <!-- box1 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog1.jpg" alt="blog1_img" /><a
              href="https://www.myyatradiary.com/2023/07/must-visit-5-ancient-shiva-temples-Goa.html"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Temples..Goa</strong>
            <a
              href="https://www.myyatradiary.com/2023/07/must-visit-5-ancient-shiva-temples-Goa.html"
            >
              Must Visit: 5 Ancient Shiva Temples in Goa</a
            >
            <p>
              Would you believe if I told you “Goa”, is jam packed with some
              very ancient, culturally rich and beautiful temples of yore? I,
              for one, didn’t...
            </p>
          </div>
        </div>
        <!-- box2 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog2.jpg" alt="blog2_img" /><a
              href="https://theworldtravelguy.com/paisu-pok-lake-banggai/"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Asia..Banggai</strong>
            <a href="https://theworldtravelguy.com/paisu-pok-lake-banggai/"
              >Paisu Pok Lake In Banggai</a
            >
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
              quas placeat sunt minus voluptatibus temporibus officia veritatis?
            </p>
          </div>
        </div>
        <!-- box3 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog3.jpg" alt="blog1_img" /><a
              href="https://www.myyatradiary.com/2023/03/konkan-maharashtra-luxury-resort-sadhana-executive-dapoli.html"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Resorts..Konkan</strong>
            <a
              href="https://www.myyatradiary.com/2023/03/konkan-maharashtra-luxury-resort-sadhana-executive-dapoli.html"
              >Konkan Maharashtra: Best Luxury Resort in Dapoli - Hotel Sadhana
              Executive</a
            >
            <p>
              So, we have been exploring the incredibly beautiful Konkan part of
              Maharashtra these days whenever we get a chance and after
              Ganpatipule , the circuit of Dapoli came next on our radar. Let me
              be perfectly honest – prior to this, Dapoli was nowhere, never in
              my featured list of places to visit in Maharashtra. So when hubby
              suggested we visit Dapoli, I was kind of in…
            </p>
          </div>
        </div>
        <!-- box4 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog4.jpg" alt="blog4_img" /><a
              href="https://indiasomeday.com/en/four-travel-routes-for-kerala/"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Travel..Kerala</strong>
            <a href="https://indiasomeday.com/en/four-travel-routes-for-kerala/"
              >FOUR TRAVEL ROUTES FOR KERALA</a
            >
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
              quas placeat sunt minus voluptatibus temporibus officia veritatis?
              Numquam delectus atque totam cum aspernatur quae dolores facere
              itaque quisquam labore odio, sequi, debitis saepe dignissimos
              laudantium beatae mollitia dicta! Quod, quidem.
            </p>
          </div>
        </div>
        <!-- box5 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog5.jpeg" alt="blog1_img" /><a
              href="https://desitraveler.com/aahana-corbet-resort-review/"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Wildlife..Uttarakhand</strong>
            <a href="https://desitraveler.com/aahana-corbet-resort-review/"
              >Aahana Resort – Jim Corbett National Park Uttarakhand</a
            >
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
              quas placeat sunt minus voluptatibus temporibus officia veritatis?
              Numquam delectus atque totam cum aspernatur quae dolores facere
              itaque quisquam labore odio, sequi, debitis saepe dignissimos
              laudantium beatae mollitia dicta! Quod, quidem.
            </p>
          </div>
        </div>
        <!-- box6 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog6.jpg" alt="blog1_img" /><a
              href="https://breathedreamgo.com/best-places-to-visit-in-india/"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Visit..India</strong>
            <a href="ttps://breathedreamgo.com/best-places-to-visit-in-india/"
              >24 best places to visit in India</a
            >
            <p>
              A subcontinent, India is home to a wide variety of landscapes from
              lush jungles and tropical beaches to sand-swept deserts and the
              highest mountain range on earth. There are 40 UNESCO World
              Heritage sites and four of the world’s top biodiversity hotspots;
            </p>
          </div>
        </div>
        <!-- box6 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog7.jpg" alt="blog1_img" /><a
              href="#"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Food..India</strong>
            <a href="https://breathedreamgo.com/20-famous-indian-foods-recipes/"
              >20 Famous Indian foods</a
            >
            <p>
              Indian cuisine is one of the richest and most varied in the world.
              It was very difficult to narrow this list to just 20 types of
              famous Indian foods and popular dishes! The list includes Indian
              sweets and desserts, South Indian food, North Indian food, Punjabi
              food, vegetarian Indian dishes, and drinks such as lassi and
              masala chai — and the video recipes we’ve included are easy to
              make
            </p>
          </div>
        </div>
        <!-- box6 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog8.jpg" alt="blog1_img" /><a
              href="https://breathedreamgo.com/what-to-wear-travel-india/"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Travel..India</strong>
            <a href="https://breathedreamgo.com/what-to-wear-travel-india/"
              >What to wear when travelling in India</a
            >
            <p>
              Knowing what to wear when travelling in India can really make a
              difference to the success of your trip. Before I left for my first
              trip to India, I found a great piece of travel advice on the
              Journeywoman website for women. Someone said, wear Indian clothes
              in India. So I did. From the start of my travels in 2005, I have
              largely worn modest, comfortable Indian outfits such as kurtahs
              (tunics), scarves, pashmina shawls, salwar kameez, Indian dresses,
              and even sarees.
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-section">
        <div class="logo">
          <img src="/logo1.png" alt="Loading.." />
          <p>2024 © VoyageVista - Travel Recommendation</p>
        </div>
      </div>
      <div class="footer-section">
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="contactus.ejs">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Community</h3>
        <ul>
          <li><a href="#">Forums</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Partners</h3>
        <ul>
          <li><a href="#">Partner 1</a></li>
          <li><a href="#">Partner 2</a></li>
          <li><a href="#">Partner 3</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <p>
          "VoyageVista is a travel recommendation platform that leverages
          machine learning to analyze user preferences and historical data,
          providing personalized travel plans based on budget, location, and
          duration. Seamlessly integrating sentiment analysis and natural
          language processing, VoyageVista ensures an enhanced travel experience
          by curating dynamic suggestions and engaging users in interactive
          conversations."
        </p>
      </div>
    </footer>
  </body>
</html>
