<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEARCH</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="bg bg4"></div>
    <nav class="main-nav">
      <div class="logo">
        <img src="/logo1.png" alt="Loading.." />
      </div>

      <div class="menu-link">
        <ul>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <a href="/destination">Destination</a>
          </li>
          <li>
            <i class="fab fa-blogger"></i>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <i class="fas fa-suitcase"></i>
            <a href="/myplans">My Plans</a>
          </li>
        </ul>
      </div>
      <div class="menu-link2">
        <ul>
          <li>
            <i class="fas fa-address-book"></i>
            <a href="/contactus">Contact Us</a>
          </li>
          <li>
            <i class="fas fa-fingerprint"></i>
            <a href="/aboutus">About Us</a>
          </li>
          <li>
            <i class="fas fa-user"></i>
            <a href="/">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <section id="destination">
      <!-- heading -->
      <h3>Destinations</h3>
      <!-- container 1 -->
      <div class="blog-container">
        <div class="zones">Northern</div>
        <div class="carousel-row">
          <div class="carousel-tile">
            <div class="blog-img">
              Jammu and Kashmir
              <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTxiXcoNXvPX9xhvtLiy9HkSUuBygcs0QgFdbJYieqOV_UPXPnUczkT3XGAoVwn" alt="blog1_img" />
            </div>
          </div>
          <div class="carousel-tile">
            <div class="blog-img">
              Punjab
              <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSP7mgWBkJGoDhhJfCOn9rYamS7EfcFZ9diAtsCAkgwjtXHnf0xRF6izpnfE55V" alt="blog1_img" />
            </div>
          </div>
          <div class="carousel-tile">
            <div class="blog-img">
              Haryana
              <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQT25p5CwxCkSFWy6t1FuBwWf3hcSk6PH-87PQq7Y-bO6f6TNOnbNmOYAItbB55" alt="blog1_img" />
            </div>
          </div>
          <!-- <br /> -->
          <div class="carousel-tile">
            <div class="blog-img">
              Uttarakhand
              <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRXltgMaiVxj6gbW0HYIX6c3TZeIZia55zth42MSCNxmrIMTfBgq0LPERC9R4rn" alt="blog1_img" />
            </div>
          </div>
          <div class="carousel-tile">
            <div class="blog-img">
              Himachal Pradesh

              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5EpxuGAZqInlPu6e5AoE7u8zcv2rhN-EoAvqmok8DEYwO3-Z_bOme5UwLi6mU" alt="blog1_img" />
            </div>
          </div>
          <div class="carousel-tile">
            <div class="blog-img">
              Delhi
              <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQOUNfHxQprUZPCYU-E0o87OqGR1sQOKaD8ypemIZOV1Um-X28Kcd1--7VYycjm" alt="blog1_img" />
            </div>
          </div>
        </div>

          <div class="zones">Eastern</div>
          <div class="carousel-row">
            <div class="carousel-tile">
              <div class="blog-img">
                West Bengal
                <img src="blog1.jpg" alt="blog1_img" />
              </div>
            </div>
            <div class="carousel-tile">
              <div class="blog-img">
                Bihar
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQcXUofcNnMrrgNhFfWc9QYLL0wlcR0WBHOc-texAXW1YzPtSZjG-fesPvGtx-" alt="blog1_img" />
              </div>
            </div>
            <div class="carousel-tile">
              <div class="blog-img">
                Jharkhand
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR0NTyj6XUu58oq-NcHuv747LsB58uauPJoP5aSfP0D6ufQn1ShceOX3K4VsSto" alt="blog1_img" />
              </div>
            </div>
            <div class="carousel-tile">
              <div class="blog-img">
                Odisha
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR_iOJNljTESGMoWGGUTlVb1iM7cnivPu7UOtgzMfUFfcJjk11t1hqRFpqntZ2p" alt="blog1_img" />
              </div>
            </div>

            <div class="carousel-tile">
              <div class="blog-img">
                Sikkim
                <img src="blog1.jpg" alt="blog1_img" />
              </div>
            </div>
            </div>
          </div>
          <div class="zones">Western</div>
          <div class="carousel-row">
            <div class="carousel-tile">
              <div class="blog-img">
                Rajasthan
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTp0ZqVhRCnmqLxg40iGkVzgpq5QjyfMMtk8UzLZTTsifnZAGRyy_i9ct1q4jeW" alt="blog1_img" />
              </div>
            </div>
            <div class="carousel-tile">
              <div class="blog-img">
                Gujarat
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfPBCXw3R2PX_XP7L5UTRT45ey_UG028_HxUKvVN_m68wB3dWYmspJbIJuxYXt" alt="blog1_img" />
              </div>
            </div>
            <div class="carousel-tile">
              <div class="blog-img">
                Maharashtra
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQJNe3wATKKmWZiIDRL1Vzr3jKHpvt1k-HJg3ep4pqYtv3Sqlre7yftaU7HCEDM" alt="blog1_img" />
              </div>
            </div>
            <div class="carousel-tile">
              <div class="blog-img">
                Goa
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTurgcA0eokvrmwLk6B7jXGeERKPec_q8hHLHTYC18v6Z_OoaUD7DV4-5r1oWqB" alt="blog1_img" />
              </div>
            </div>
          </div>
          <div class="zones">Central</div>
          <div class="carousel-row">
            <div class="carousel-tile">
              <div class="blog-img">
                Madhya Pradesh

                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTH0oKBGPwvOfDb50FaB1FoDu1ALzVbL8y2ycmvvJ0BPzc4SuKR7GKGPWU1GATq" alt="blog1_img" />
              </div>
            </div>
            <div class="carousel-tile">
              <div class="blog-img">
                Chhattisgarh
                <img src="blog1.jpg" alt="blog1_img" />
              </div>
            </div>
            <div class="carousel-tile">
              <div class="blog-img">
                Uttar Pradesh
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR9x5N92LJXf8JpT_lQ6F-v1eh6Lc3PjebRABo7O8qVepgXB4v4-1WtEo8tZHdp" alt="blog1_img" />
              </div>
            </div>
          </div>
          <div class="zones">Southern</div>
        <div class="carousel-row">
          <div class="carousel-tile">
            <div class="blog-img">
              Telangana
              <img src="blog1.jpg" alt="blog1_img" />
            </div>
          </div>
          <div class="carousel-tile">
            <div class="blog-img">
              Andhra Pradesh
              <img src="blog1.jpg" alt="blog1_img" />
            </div>
          </div>
          <div class="carousel-tile">
            <div class="blog-img">
              Karnataka
              <img src="blog1.jpg" alt="blog1_img" />
            </div>
          </div>
          <div class="carousel-tile">
            <div class="blog-img">
              Tamil Nadu

              <img src="blog1.jpg" alt="blog1_img" />
            </div>
          </div>
          <div class="carousel-tile">
            <div class="blog-img">
              Kerala
              <img src="blog1.jpg" alt="blog1_img" />
            </div>
          </div>
          <div class="carousel-tile">
            <div class="blog-img">
              Puducherry
              <img src="blog1.jpg" alt="blog1_img" />
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const blogScroll = document.querySelector('.blog-scroll')
        const nextButton = document.querySelector('.next-button')

        let scrollAmount = 0

        nextButton.addEventListener('click', scrollNext)

        function scrollNext() {
          scrollAmount += 300 // Adjust scroll amount as needed
          blogScroll.style.transform = `translateX(-${scrollAmount}px)`
        }
      })
    </script>
    <footer>
      <div class="footer-section">
        <div class="logo">
          <img src="/logo1.png" alt="Loading.." />
          <p>2024 © VoyageVista - Travel Recommendation</p>
        </div>
      </div>
      <div class="footer-section">
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="contactus.ejs">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Community</h3>
        <ul>
          <li><a href="#">Forums</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Partners</h3>
        <ul>
          <li><a href="#">Partner 1</a></li>
          <li><a href="#">Partner 2</a></li>
          <li><a href="#">Partner 3</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <p>
          "VoyageVista is a travel recommendation platform that leverages
          machine learning to analyze user preferences and historical data,
          providing personalized travel plans based on budget, location, and
          duration. Seamlessly integrating sentiment analysis and natural
          language processing, VoyageVista ensures an enhanced travel experience
          by curating dynamic suggestions and engaging users in interactive
          conversations."
        </p>
      </div>
    </footer>
  </body>
</html>
