<!DOCTYPE html>
<html>
  <head>
    <title>SignUp Page</title>
    <link rel="stylesheet" type="text/css" href="/loginsignup.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container">
      <!-- The video -->
      <div class="video">
        <video autoplay muted loop id="myVideo">
          <source src="bgvideo.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="logo">
        <img src="/logo1.png" alt="Loading.." />
      </div>
      <div class="login-content" style="margin-left: 1100px">
        <form action="/signup" method="Post">
          <img src="avatar.svg" style="display: block; padding-right: 260px" />
          <h2 class="title">Welcome to VoyageVista!</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <input
                type="text"
                name="name"
                class="input"
                placeholder="Username"
              />
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <input
                type="password"
                name="password"
                class="input"
                placeholder="Password"
              />
            </div>
          </div>
          <input type="submit" class="btn" value="Sign Up" />
        </form>
      </div>
    </div>
    <div id="words" class="fade-in-out">
      Explore the world <br />One click at a time!
    </div>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
